@charset "utf-8"; /* CSS Document */

body,
p,
td,
th {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}

body {
	background-color: #fdfdfd;
	margin: 0;
	position: relative;
}

li,
ul {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}

a {
	color: orange;
	text-decoration: none;
}

a:focus,
a:hover {
	color: #3397db;
	text-decoration: none;
}

a img {
	border: none 0 #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	margin: 0 0 20px;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

#maincontent {
	background-color: #f3f3f3;
	// min-height: 100%;
	display:flex;
	flex-direction: column;
}

#footer {
	background-color: #444;
	color: #aaa;
	font-size: 8pt;
	letter-spacing: 1px;
	padding: 25px;
	text-align: center;
	text-transform: uppercase;
	width: calc(100% - 50px);
}
/* ====================== Navigation ====================== */

$nav-height: 80px;

nav {
	width: 100%;
	height: $nav-height;
	background-color: #252831;
	text-align: center;
	display: flex;

	h1 {
		font-family: 'Lobster', sans-serif;
		margin: auto;

		a {
				color: #fff;
				font-size: 20pt;
			}

	}
}

:focus {
	outline: 0;
	box-shadow: 0 0 3pt 2pt #5E9ED6;
}

.hidden {
	position:absolute;
	left:-10000;
	top: auto;
	width:1px;
	height: 1px;
	overflow: hidden;
}

.update-alert {
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: calc(100% - 50px);
	background: #ea4335;
	padding: 25px;
	text-align: right;
	z-index: 1;

	p {
		margin: 5px;
		color: #fff;
		display: inline-block;
		font-weight: bold;
	}

	button {
		padding: 10px;
		background: #fff;
		color: #ea4335;
		border: 0px;
		border-radius: 10px;
		margin: 5px;
		font-weight: bold;
	}
	button:active {
		background-color: #d2d2d2;
	}

}
