@charset "utf-8"; /* CSS Document */

@media only screen and (min-width: 750px) {


  #breadcrumb {
    width: calc(50%);
  }

  #map-container {
    background: blue none repeat scroll 0 0;
    height: calc(100% - 80px);
    position: fixed;
    right: 0;
    top: 80px;
    width: 50%;
  }

  #restaurant-container,
  #reviews-container {
    border-bottom: 1px solid #d9d9d9;
    border-top: 1px solid #fff;
    padding: 30px 40px;
  }

  nav {
    position: fixed;
    z-index: 1;
  }

  #breadcrumb {
    margin-top: 80px;
  }

  #maincontent {
    justify-content: flex-start;
    align-items:flex-start;
    width:50%;
  }

  #footer {
    width: calc(50% - 50px);
  }

}
